# Compiled source #

###################

*.com

*.class

*.dll

*.exe

*.o

*.lo

*.slo

*.so

*.obj



# Precompiled Headers

*.gch

*.pch



# Compiled Dynamic Libraries

*.so

*.dylib

*.dll



# Compiled Static Libraries

*.lai

*.la

*.a

*.lib



# Packages #

############

# it's better to unpack these files and commit the raw source

# git has its own built in compression methods

*.7z

*.dmg

*.gz

*.iso

*.jar

*.rar

*.tar

*.zip



# Logs and databases #

######################

*.log

*.sql

*.sqlite



# Executables

*.exe

*.out

*.app



# Configuration Files #

###################

*.xml

*.Po

*.Plo



# Generated MakeFiles #

###################

Makefile

config.h

config.status

configure

.deps



# Other Executables #

###################

test_runner

test_runner.*
